@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: url('./img/circle-background.jpg');
  font-family: 'Gruppo', cursive;

}

.container {
  width: 1200px;
  height: 500px;
  color: white;
  text-align:center;
  font-size: 20px;
  line-height: 25px;;
}

.container h2 {
  font-size: 70px;
  margin: 50px 10px 50px 10px;
}

.slides {
  position: relative;
  overflow: hidden;
  margin-top: 40px;

}



.carousel-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
  background-size: cover;
  opacity: 0;
  transition: all 0.5s linear;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  }

.carousel-img.activeSlide {
  opacity: 1;
  transform: translateX(0);

}


.carousel-img.nextSlide {
  transform: translateX(100%);
}

.carousel-img.lastSlide {
  transform: translateX(-100%);
}

.textSlider {
  padding-top: 150px;
  color: white;
}

.prev-img, .next-img {
  background-color: transparent;
  border: none;
  font-size: 25px;
  color: white;
  cursor:pointer;
}



ul {
  list-style-type: none;
  display: flex;
  color: white;
  padding: 0;
  margin: 0;
}

.logo {
  margin: 0px 450px 0px 0px;
  font-size: 20px;
}

li, a {
  margin-right: 90px;
  font-size: 18px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

li, a:last-child {
  margin-right: 0;
}

a:hover {
  text-shadow: 5px 5px 10px white;
}

nav {
  display: flex;
  margin: 16px 0px 16px 0px;
  padding: 0;
}

.countries {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 200px;
}


.country {
  width: 20%;
  text-align: center;
  border: 2px solid white;
  color: white;
  transition: transform .2s;
  padding: 10px 0px 10px 0px;

  
}

.country:hover {
  background-color: white;
  color: black;
  box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
  transform: scale(1.2);

}
.country img {
  width: 60px;
  height: 40px;
}

.btn {
  border: 1px solid rgb(146, 148, 248);
  position: relative;
  overflow: hidden;
  background-color: transparent;
  color: white;
  padding:10px 50px 10px 50px;
  cursor: pointer;
  margin: 10px;
  border-radius: 20px;
  font-family: 'Gruppo', cursive;

}

.btn:hover {
  box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(146, 148, 248, 0.4),
    transparent
  );
  transition: all 650ms;
}

.btn:hover:before {
  left: 100%;
}

button.country-btn {
  background-color: rgba(146, 148, 248, 0.4);
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

section.trivia {
  background-color: white;
  color: black;
  padding: 20px;
  margin-bottom: 50px;
  width: 800px;
  margin-left: 190px;
  border-radius: 20px;
}

.delete-btn {
  color: black;
  background-color:#000033;
  color: white;
}

.read-btn {
  background-color: transparent;
  border: none;
  font-family: 'Gruppo', cursive;
  font-size: 20px;
  font-weight: 800;
  color: #000033;

}

.trivia-img {
  width: 400px;
  height: 200px;
}


.quiz {
  background-color: #252d4a;
  width: 100%;
  height: 300px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  margin-top: 120px;

}

.score-section {
  font-size: 50px;
  align-items: center;
  margin-top: 100px;

}

.question-section {
  width: 100%;
  position: relative;

}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 20px;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz-buttons {
  width: 50%;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  border: 5px solid #234668;
  cursor: pointer;
  font-family: 'Gruppo', cursive;
  text-align: center;
  margin-bottom: 7px;
}

quiz-buttons:last-child {
  margin-bottom: 0px;
}


.quiz-buttons:hover {
  background-color: #555e7d;
}

.quiz-buttons:focus {
  outline: none;
}
